<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather data API</title>
</head>
<body>
    <h1>Weather data API</h1>
    <p>URL format: http://127.0.0.1:5001/api/v1/station/date</p>
    <p>URL example for one station for one day: http://127.0.0.1:5001/api/v1/21/2022-10-25</p>
    <p>URL example for one station for all days: http://127.0.0.1:5001/api/v1/21</p>
    <p>URL example for one station for one year: http://127.0.0.1:5001/api/v1/annual/21/1988</p>
    <p>{{data|safe}}</p>

</body>
</html>